.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:35px 0 15px;

  @include tablet {
    flex-wrap: wrap;
  }
}

//FILTER
.filter-block {
  font-family: FiraSans-Regular;
  font-size: 16px;
  color:$black;

  @include tablet {
    width:100%;
  }

  &__select {
    height:36px;
    border:2px solid $yellow;
    padding:0 10px;

    &:focus {
      outline:none;
    }
  }

  &__option {
    padding:5px 0;
  }
}

.search-block {
  display:flex;
  justify-content: flex-start;
  padding:10px 0;


  &__text {
    line-height:30px;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color:$black;
    margin-right:30px;
  }

  &__input {
    margin-right:10px;
    height:30px;
    border:2px solid $yellow;
    padding:0 10px;
    width:100px;
    font-size:14px;

    &:focus {
      outline:none;
    }
  }

  &__button {
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;
    background-color:$white;
    margin-left:10px;

    &--cancel {
      border-color: transparent;

      &:hover {
        border-color:transparent !important;
        text-decoration: underline;
      }
    }

    &:hover {
      border:2px solid $red;
      color:$red;
      cursor:pointer;
    }

    &:active {
      outline:none;
    }

    &:focus {
      outline:none;
    }
  }
}

//BUTTONS
.buttons {
  position:absolute;
  top:0;
  right:0;
  margin-right:20px;
  z-index:10;
  top:50%;
  transform:translate(0, -50%);
  font-size:0;
  display:none;

  &__item {
    font-size:18px;
    border:2px solid;
    width:32px;
    height:32px;
    color:$white;
    border-radius:50%;
    display:inline-block;
    position:relative;
    background-color:$white;
    cursor:pointer;

    &--update {
      border-color:$yellow;
      color:$yellow;
      margin-right:5px;

      &:hover {
        color:$white;
        background-color: $yellow;
      }
    }

    &--delete {
      border-color:$red;
      color:$red;

      &:hover {
        color:$white;
        background-color: $red;
      }
    }
  }
   &__icon {
      position:absolute;
      display:block;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
    }
}

//SCHOOLS
.schools {
  width:100%;
  margin-bottom:50px;

  &__list {
    width:100%;
  }

  &__add-block {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding:15px;
  }

  &__add-button {
    border-radius: 5px;
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;
    background-color:$white;

    &:hover {
      border:2px solid $red;
      color:$red;
      cursor:pointer;
    }

    &:active {
      outline:none;
    }

    &:focus {
      outline:none;
    }
  }

  &__row {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:12px 0;
    font-family: FiraSans-Regular;
    font-size:14px;
    position:relative;

    &:hover .buttons {
      display:block;
    }

    &:nth-child(even) {
      background-color: $lightgrey;
    }

    &--head {
      font-family: FiraSans-Medium;
      font-size:18px;
      color:$blue;
      padding:15px 0;
      border-bottom: 3px solid $blue;
      background-color:$white !important;
    }
  }

  &__col {
    text-align:center;
    padding:0 5px;

    &--wide {
      width:75%;
    }

    &--small {
      width:25%;
    }
    }
}

//CLASSROOMS
.classrooms {
  width:100%;
  margin-bottom:50px;

  &__list {
    width:100%;
  }

  &__add-block {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding:15px;
  }

  &__add-button {
    border-radius: 5px;
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;
    background-color:$white;

    &:hover {
      border:2px solid $red;
      color:$red;
      cursor:pointer;
    }

    &:active {
      outline:none;
    }

    &:focus {
      outline:none;
    }
  }

  &__row {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding:12px 0;
    font-family: FiraSans-Regular;
    font-size:14px;
    position:relative;

    &:hover .buttons {
      display:block;
    }

    &:nth-child(even) {
      background-color: $lightgrey;
    }

    &--head {
      font-family: FiraSans-Medium;
      font-size:18px;
      color:$blue;
      padding:15px 0;
      border-bottom: 3px solid $blue;
      background-color:$white !important;
    }
  }

  &__col {
    text-align:center;
    padding:0 5px;

    &--wide {
      width:40%;
    }

    &--small {
      width:20%;
    }
    }
}

//LECTURES
.schedule {
  width:100%;
  margin-bottom:50px;

  &__list {
    width:100%;
  }

  &__add-block {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding:15px;
  }

  &__add-button {
    border-radius: 5px;
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;
    background-color:$white;

    &:hover {
      border:2px solid $red;
      color:$red;
      cursor:pointer;
    }

    &:active {
      outline:none;
    }

    &:focus {
      outline:none;
    }
  }

  &__row {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 0;
    font-family: FiraSans-Regular;
    font-size:14px;
    position:relative;

    &:hover .buttons {
      display:block;
    }

    &:nth-child(even) {
      background-color: $lightgrey;
    }

    &--head {
      font-family: FiraSans-Medium;
      font-size:18px;
      color:$blue;
      padding:15px 0;
      border-bottom: 3px solid $blue;
      background-color: $white !important;
    }
  }

  &__col {
    text-align:center;
    width:15%;
    padding:0 5px;

    &--medium {
      width:20%;
    }

    &--wide {
      width:40%;
    }

    span {
      display: block;
    }
  }

  &__teacher {
    display:block;
    color:$blue;
    cursor:pointer;

      &:hover {
        color:$red;
      }
  }

  &__link {
    color:$blue;
    text-decoration: none;
    display: block;

    &:hover {
      color:$red;
    }
  }

  &__button {
    border-radius: 5px;
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;

    &:hover {
      border:2px solid $red;
      color:$red;
    }
  }
}

//MODALS
.modal {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:$white;
  width:480px;
  padding:25px;
  display:block;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color:$black;

  &-school {
    display:none;
  }

  &-classroom {
    display:none;
  }

  &-lecture {
    display:none;
  }

  &__title {
    color:$blue;
    font-family: FiraSans-Medium;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:2px solid $blue;
  }

  &__row {
    display:flex;
    justify-content: space-between;
    padding:5px 0;

    &--buttons {
      margin-top:20px;
    }
  }

  &__input-text {
    line-height:30px;
  }

  &__input {
    margin-left:10px;
    height:30px;
    border:2px solid $yellow;
    padding:0 10px;
    width:50%;
    font-size:14px;

    &:focus {
      outline:none;
    }
  }

  &__button {
    border-radius: 5px;
    color: $black;
    border:2px solid $yellow;
    text-decoration: none;
    padding:4px 12px;
    background-color:$white;

    &--cancel {
      border-color: transparent;

      &:hover {
        border-color:transparent !important;
        text-decoration: underline;
      }
    }

    &:hover {
      border:2px solid $red;
      color:$red;
      cursor:pointer;
    }

    &:active {
      outline:none;
    }

    &:focus {
      outline:none;
    }
  }
}