<div class="classrooms__row">
    <div class="classrooms__col classrooms__col--wide">
        {{title}}
    </div>
    <div class="classrooms__col classrooms__col--wide">
        {{location}}
    </div>
    <div class="classrooms__col classrooms__col--small">
        {{count}}
    </div>
    <div class="buttons">
        <div class="buttons__item buttons__item--update">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="buttons__item buttons__item--delete">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</div>