<div class="schools__row">
    <div class="schools__col schools__col--wide schools__col--title">
        {{title}}
    </div>
    <div class="schools__col schools__col--small schools__col--count">
        {{count}}
    </div>
    <div class="buttons">
        <div class="buttons__item buttons__item--update">
            <i class="fa fa-pencil buttons__icon" aria-hidden="true"></i>
        </div>
        <div class="buttons__item buttons__item--delete">
            <i class="fa fa-times buttons__icon" aria-hidden="true"></i>
        </div>
    </div>
</div>