@font-face {
  font-family: 'FiraSansExtraCondensed-Regular';
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.eot');
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.woff2') format('woff2'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.woff') format('woff'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.ttf') format('truetype'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.svg#FiraSansExtraCondensed-Regular') format('svg'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraCondensed-Light';
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.eot');
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.woff2') format('woff2'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.woff') format('woff'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.ttf') format('truetype'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.svg#FiraSansExtraCondensed-Light') format('svg'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraCondensed-ExtraLight';
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.eot');
  src: url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.woff2') format('woff2'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.woff') format('woff'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.ttf') format('truetype'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.svg#FiraSansExtraCondensed-ExtraLight') format('svg'),
  url('../fonts/firasans-extra-condensed/FiraSansExtraCondensed-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

