@font-face {
  font-family: 'FiraSans-Light';
  src: url('../fonts/firasans/FiraSans-Light.eot');
  src: url('../fonts/firasans/FiraSans-Light.woff2') format('woff2'),
  url('../fonts/firasans/FiraSans-Light.woff') format('woff'),
  url('../fonts/firasans/FiraSans-Light.ttf') format('truetype'),
  url('../fonts/firasans/FiraSans-Light.svg#FiraSans-Light') format('svg'),
  url('../fonts/firasans/FiraSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('../fonts/firasans/FiraSans-Medium.eot');
  src: url('../fonts/firasans/FiraSans-Medium.woff2') format('woff2'),
  url('../fonts/firasans/FiraSans-Medium.woff') format('woff'),
  url('../fonts/firasans/FiraSans-Medium.ttf') format('truetype'),
  url('../fonts/firasans/FiraSans-Medium.svg#FiraSans-Medium') format('svg'),
  url('../fonts/firasans/FiraSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/firasans/FiraSans-Regular.eot');
  src: url('../fonts/firasans/FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/firasans/FiraSans-Regular.woff') format('woff'),
  url('../fonts/firasans/FiraSans-Regular.ttf') format('truetype'),
  url('../fonts/firasans/FiraSans-Regular.svg#FiraSans-Regular') format('svg'),
  url('../fonts/firasans/FiraSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}