// Media queries
$desktop-width: 1200px;
$laptop-width: 992px;
$tablet-width: 768px;
$phone-width: 480px;

// colors
$white: #FFFFFF;
$red: #E61400;
$yellow: #FACD00;
$blue: #4444bb;
$black: #000000;
$darkgrey: #424242;
$lightgrey: #f4f4f4;