div.container
    div.filters
        div.filter-block
            select.filter-block__select
                option.filter-block__option(value="Редактировать список школ") Редактировать список школ
                option.filter-block__option(value="Редактировать список аудиторий") Редактировать список аудиторий
                option.filter-block__option(value="Редактировать расписание занятий") Редактировать расписание занятий
    
    div.content
        div.schools
            div.schools__add-block
                button.schools__add-button Добавить школу
            div.schools__row.schools__row--head
                div.schools__col.schools__col--wide Название школы
                div.schools__col.schools__col--small Количество учеников
            div.schools__list
               

        div.classrooms
            div.classrooms__add-block
                button.classrooms__add-button Добавить аудиторию
            div.classrooms__row.classrooms__row--head
                div.classrooms__col.classrooms__col--wide Название аудитории
                div.classrooms__col.classrooms__col--wide Местоположение
                div.classrooms__col.classrooms__col--small Количество мест
            div.classrooms__list

    
        div.schedule
            div.search-block
                div.search-block__row
                    div.search-block__text Поиск лекции по школе:
                    input.search-block__input.search-block__input--school(type="text", placeholder="Название школы")
                    input.search-block__input.school-start(type="text", placeholder="Начало")
                    input.search-block__input.school-end(type="text", placeholder="Конец")
                    button.search-block__button.school-search
                        i.fa.fa-search.search-block__icon(aria="hidden")
                    button.search-block__cancel.school-cancel
                        i.fa.fa-times.search-block__icon(aria="hidden")
                div.search-block__row
                    div.search-block__text Поиск лекции по аудитории:
                    input.search-block__input.search-block__input--classroom(type="text", placeholder="Название аудитории")
                    input.search-block__input.classroom-start(type="text", placeholder="Начало")
                    input.search-block__input.classroom-end(type="text", placeholder="Конец")
                    button.search-block__button.classroom-search
                        i.fa.fa-search.search-block__icon(aria="hidden")
                    button.search-block__cancel.classroom-cancel
                        i.fa.fa-times.search-block__icon(aria="hidden")           
                
            div.schedule__add-block
                    button.schedule__add-button Добавить лекцию        
            div.schedule__row.schedule__row--head
                div.schedule__col.schedule__col--wide Название лекции
                div.schedule__col.schedule__col--medium Школа
                div.schedule__col Учитель
                div.schedule__col Аудитория
                div.schedule__col Дата
            div.schedule__list
                

    div.modal.modal-school
        div.modal__title Редактирование школы
        div.modal__row
            div.modal__input-text Название
            input.modal__input.school-title(type="text", placeholder="Название школы")
        div.modal__row
            div.modal__input-text Количество студентов
            input.modal__input.school-count(type="text", placeholder="Количество студентов")    
        div.modal__row.modal__row--buttons
            button.modal__button.modal__button--cancel Отмена
            button.modal__button.modal__button--ok.modal__button--add-school.addNew Применить
    
    div.modal.modal-classroom
        div.modal__title Редактирование аудитории
        div.modal__row
            div.modal__input-text Название
            input.modal__input.classroom-title(type="text", placeholder="Название аудитории")
        div.modal__row
            div.modal__input-text Местоположение
            input.modal__input.classroom-location(type="text", placeholder="Местоположение")
        div.modal__row
            div.modal__input-text Количество студентов
            input.modal__input.classroom-count(type="text", placeholder="Количество студентов")    
        div.modal__row.modal__row--buttons
            button.modal__button.modal__button--cancel Отмена
            button.modal__button.modal__button--ok.modal__button--add-classroom Применить

    div.modal.modal-lecture
        div.modal__title Редактирование лекции
        div.modal__row
            div.modal__input-text Название
            input.modal__input.lecture-title(type="text", placeholder="Название лекции")
        div.modal__row
            div.modal__input-text Школа
            input.modal__input.lecture-school(type="text", placeholder="Название школы")
        div.modal__row
            div.modal__input-text Учитель
            input.modal__input.lecture-teacher(type="text", placeholder="Учитель")
        div.modal__row
            div.modal__input-text Аудитория
            input.modal__input.lecture-classroom(type="text", placeholder="Аудитория")  
        div.modal__row
            div.modal__input-text Дата
            input.modal__input.lecture-date(type="text", placeholder="Дата")  
        div.modal__row
            div.modal__input-text Запись лекции
            input.modal__input.lecture-video(type="text", placeholder="Запись лекции")                 
        div.modal__row.modal__row--buttons
            button.modal__button.modal__button--cancel Отмена
            button.modal__button.modal__button--ok.modal__button--add-lecture Применить