div.container
    div.filters
        div.school-filter
            select.school-filter__select
                option.school-filter__option(value="Все школы") Все школы
                option.school-filter__option(value="Школа разработки интерфейсов") Школа разработки интерфейсов
                option.school-filter__option(value="Школа мобильной разработки") Школа мобильной разработки
                option.school-filter__option(value="Школа мобильного дизайна") Школа мобильного дизайна
        div.teacher-filter
            div.teacher-filter__text Поиск по учителю:
            input.teacher-filter__input(type="text", name="teacher", placeholder="Введите имя или фамилию")

    div.schedule
        div.schedule__row.schedule__row--head
            div.schedule__col.schedule__col--wide Название лекции
            div.schedule__col.schedule__col--medium Школа
            div.schedule__col Учитель
            div.schedule__col Аудитория
            div.schedule__col Дата
        div.schedule__list

    div.teacher
        img.teacher__photo(src="", alt="Фото учителя")
        div.teacher__info
            div.teacher__name
            div.teacher__job
            div.teacher__text
            div.teacher__block
                button.teacher__button Закрыть